[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "==4.4"
matplotlib = "==3.10"
numpy = "==1.26"
pandas = "==2.2"
pyarrow = "==19.0"
scipy = "==1.15"
seaborn = "==0.13"
tables = "==3.10"

[requires]
python_version = "3.12"

[dev-packages]
flake8 = "*"
